html{
	font-family: 'Helvetica', sans-serif;
}

/* There is some default margin for body. Set it to 0. */
body{
	margin: 0px;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	background: black;
	color: white;
}

/* fix position of menu div to be the top of the web page. */
.menu{
	position: fixed;
	top: 0px;
	width: 100vw;
	margin-top: 14px;
}

/* Set each menu item to be the same size */
.menu_item{
	margin: 0;
	display: inline-block;
	width: 24.5%;
	text-align: center;
}

/* Set background image for page 1 div */
.page1{
	background-image: url('img/landscape.jpg');
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* Set caption to be horizontally and vertically center */
.caption{
	position: absolute;
	left: 0;
	top: 39%;
	width: 100%;
	text-align: center;
}

.cutai{
	font-size: 64px;
}